!!!
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Antchatter &raquo; Connect the Campuses!
        link(rel='stylesheet', href='#{staticRoot}css/bootstrap.min.css') 
        link(rel='stylesheet', href='#{staticRoot}css/antchatter.css') 
        link(rel='icon', href='#{staticRoot}imgs/favicon.ico', type='image/x-icon')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
        style(type='text/css').
            p, span { font-family: 'Open Sans', sans-serif; }
            h1, h2, h3, input, div { font-family: 'Open Sans', sans-serif; }
        block styles
    block body
        block scripts
            script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
            script(src='/socket.io/socket.io.js')
            script(src='#{staticRoot}js/bootstrap.min.js')
        //- Google Analytics: change UA-XXXXX-X to be your site's ID.
        script.
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');

